.container-cards {
    width: min(95%, 1280px);
    margin: 64px auto;
    display: flex;
    flex-direction: column;
}

.card-principal {
    background: #fff;
    width: 70%;
    margin: 0 auto 32px auto;
    padding: 32px;
    color: #4B4949;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.card-principal h1 {
    text-align: center;
    margin: 0.5rem 0;
}

.temp {
    font-size: 4.4rem;
    font-weight: 600;
    text-align: center;
}

.temp sup {
    font-size: 1.6rem;
    font-weight: 500;
}

.date-time {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 0.5rem;
}

.date-time p {
    font-weight: 500;
    color: rgba(113, 110, 110, 0.5);
}

.description {
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.humidity-wind p,
.humidity-wind span {
    font-weight: 600;
}

.wind,
.humidity {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.humidity span,
.wind span {
    display: flex;
    align-items: center;
}

.humidity span::before,
.wind span::before {
    content: "";
    width: 6px;
    height: 20px;
    border-radius: 2px;
    display: inline-flex;
    margin-right: 10px;
}

.wind span::before {
    background: #C5D262;
}

.humidity span::before {
    background: #33ADF6;
}

.cards-secundario ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.cards-secundario ul li {
    background-color: #fff;
    width: 40%;
    padding: 24px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.card-temperatura {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.card-temperatura p,
.weekday-condition p {
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.card-temperatura span,
.weekday-condition span {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-temperatura p::before,
.weekday-condition p::before {
    content: "";
    width: 6px;
    height: 20px;
    border-radius: 2px;
    display: inline-flex;
    margin-right: 10px;
    background: #E75959;
}

.weekday-condition p::before {
    background: #33ADF6;
}

.min-max {
    display: flex;
    gap: 10px;
}

.weekday-condition {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {

    .card-principal {
        width: 90%;
    }
    .cards-secundario ul {
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(100%, 1fr);
        justify-content: unset;
        align-items: unset;
    }

    .cards-secundario ul li {
        width: 90%;
    }
}