.header {
    background: #0080CD;
    padding: 32px 0;
}

.container {
    width: min(90%, 1220px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.form {
    width: 550px;
    display: flex;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
}

.form input {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    color: #f2f2f2;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.form button {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    cursor: pointer;
    background: #fff;
}

.form input,
.form button {
    background: rgba(0, 73, 131, 0.7);
    border: none;
    outline: none;
    padding: 12px;
}

.prevision{
    background: #004983;
    padding: 12px;
    color: #f2f2f2;
}

.prevision span{
    display: flex;
    align-items: center;
    gap: 10px;
}


.prevision p{
    font-weight: 500;
    font-size: 1.2rem;
}
